.tabuleiro {
  width: 100%;
  max-width: 900px;
  max-height: 900;
  aspect-ratio: 1 / 1; // mantém quadrado
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0; // importante!

}
